@model IEnumerable<ComplexModelExample.Models.Customers>

@{
    ViewBag.Title = "Index";
}

<h3>Manage customer <small class="pull-right">@DateTime.Now.ToString("MMM dd y")</small></h3>
<hr />

<p>
    <a class="btn btn-primary" href="/customer/Create"><i class="icon-plus-sign"></i> Add New Customer</a>
    
</p>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age) (in year)
        </th>
          <th>
           Under student
        </th>

        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <span class="badge badge-warning"> @Html.DisplayFor(modelItem => item.Age) </span> 
        </td>
        <td>
                @if (item.students != null && item.students.Count() > 0)
                {
                    
                    <ul class="nav nav-pills" style="margin-bottom: 0px !important;">

                        <li class="dropdown active">
                            <a class="dropdown-toggle btn-info"  role="button" data-toggle="dropdown" href="#">see Students <b class="caret"></b></a>
                            <ul  class="dropdown-menu" role="menu">
                                @foreach (var itemInner in item.students)
                                {
                                    <li role="presentation"><a href="#">@itemInner.studentname</a></li>

                                }
                           
                            </ul>
                        </li>
                    </ul>
                    
                    
                    
                }
                else
                {
                    <p class="label label-info">No student</p>
                }
            </td>

        <td>
           <ul class="nav nav-pills" style="margin-bottom: 0px !important;">

                    <li class="dropdown active">
                        <a class="dropdown-toggle btn-danger" id="drop5" role="button" data-toggle="dropdown" href="#">Action <b class="caret"></b></a>
                        <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                            <li role="presentation">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                            <li role="presentation">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
                        </ul>
                    </li>
                </ul>
        </td>
    </tr>
}

</table>
